<% include header %>
    <h2>Nova Operação</h2>
    <form method="POST">
        Descricao: <input type="text" name="descricao"><br>
        Valor: <input type="text" name="valor"></br>
        <button type="submit">Enviar</button>
    </form>
<% include footer %>
